<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Document</title>
    </head>
    <body>
        <h1>Anh long đẹp trai, vợ xinh, 100 tỷ</h1>
    </body>
</html>